body{
    text-align: center;
    font-family: arial;
    font-size: 20px;
}
li{
    list-style: none;
    line-height: 2em;
    text-align: left;
}
.header{
    background: rgb(7, 160, 109);
    -webkit-text-fill-color: blanchedalmond;
    border-bottom: #ccc 3px solid;
    padding: 15px;
}

.my_first_js{
    text-align: start;
    background: rgb(156, 130, 130);
    /* -webkit-text-fill-color: black; */
    border-bottom: #ccc 4px solid;
    padding: 10px;
}
.js2{
    text-align: start;
    background: rgb(156, 130, 130);
    -webkit-text-fill-color: black;
    border-bottom: #ccc 4px solid;
    padding: 10px;
}
.js3{
    text-align: start;
    background: rgb(156, 130, 130);
    -webkit-text-fill-color: black;
    border-bottom: #ccc 4px solid;
    padding: 10px;
}
.container{
    text-align: start;
    width: auto;
    padding: 10px;
    margin: 10px auto;
    background-color:coral;
}
.title_class{
    text-align: start;
    width: auto;
    /* this is how you add  */
    color: green;
}
.title_href_class{
    color: crimson
    
}
.tryBtn{
    color: black;
    margin: 10px;
    -webkit-text-fill-color: aliceblue;
    padding: 10px;
    background: black
}