body{
    text-align: center;
    font-family: arial;
    font-size: 20px;
}
li{
    list-style: none;
    line-height: 2em;
    text-align: left;
}
.header{
    background: chocolate;
    -webkit-text-fill-color: blanchedalmond;
    border-bottom: #ccc 3px solid;
    padding: 15px;
}
.container{
    text-align: start;
    width: auto;
    padding: 10px;
    margin: 10px auto;
    background-color:coral;
}
.title_class{
    text-align: start;
    width: auto;
    /* this is how you add  */
    color: green;
}
.title_href_class{
    color: crimson
    
}