body{
    font-family: arial;
    font-size: 20px;
}
li{
    list-style: none;
    line-height: 2em;
    width: auto;
    text-align: center;
}
.header_class {
    text-align: center;
    background: rgb(255, 255, 255);
    -webkit-text-fill-color: rgb(0, 0, 0);
    border-bottom: #ccc 3px solid;
    padding: 15px;
  }
/* .content{
    position: relative;
    top: 0px;
} */

.my_first_js{
    text-align: start;
    background: rgb(156, 130, 130);
    /* -webkit-text-fill-color: black; */
    border-bottom: #ccc 4px solid;
    padding: 10px;
}
.js2{
    text-align: start;
    background: rgb(156, 130, 130);
    -webkit-text-fill-color: black;
    border-bottom: #ccc 4px solid;
    padding: 10px;
}
.js3{
    text-align: start;
    background: rgb(156, 130, 130);
    -webkit-text-fill-color: black;
    border-bottom: #ccc 4px solid;
    padding: 10px;
}
.container{
    text-align: start;
    width: auto;
    padding: 10px;
    margin: 10px auto;
    background-color:coral;
}
.title_class{
    text-align: start;
    width: auto;
    /* this is how you add  */
    color: rgb(86, 92, 86);
}
.title_href_class{
    color: crimson
    
}
.tryBtn{
    color: black;
    margin: 10px;
    -webkit-text-fill-color: aliceblue;
    padding: 10px;
    background: black
}
.demo-card-event.mdl-card {
    width: auto;
    margin: 20px;
    height: auto;
    background: #3E4EB8;
}

.demo-card-event>.mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event>.mdl-card__title {
    align-items: flex-start;
}

.demo-card-event>.mdl-card__title>h4 {
    margin-top: 0;
}

.demo-card-event>.mdl-card__supporting-text> {
    margin-top: 0;
}

.demo-card-event>.mdl-card__supporting-text>h4 {
    -webkit-text-fill-color: aliceblue;
}

.demo-card-event>.mdl-card__supporting-text>h7 {
    -webkit-text-fill-color: aliceblue;
}

.demo-card-event>.mdl-card__supporting-text>h5 {
    -webkit-text-fill-color: aliceblue;
}



.demo-card-event>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}


.demo-card-event>.mdl-card__actions>.material-icons {
    padding-right: 10px;
}

.demo-card-event>.mdl-card__title,
.demo-card-event>.mdl-card__actions,
.demo-card-event>.mdl-card__actions>.mdl-button {
    color: #fff;
}

.mdl-layout__content{
    width: 100%;
    height: 100%;
}
.mdl-spinner{
    height: 100%;
    width: 100%;
    align-content: center;
}